/* GOOGLE FONTS */

/* Josefin font */
@font-face {
  font-family: Josefin;
  src: url(../fonts/josefin-sans/static/JosefinSans-Regular.ttf);
}

/* Lexend font */
@font-face {
  font-family: Lexend;
  src: url(../fonts/lexend-deca/static/LexendDeca-Regular.ttf);
}

/* Livvic font */
@font-face {
  font-family: Livvic;
  src: url(../fonts/livvic/Livvic-Regular.ttf);
}